/* CSS file (style.css) */
.centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This makes the div take the full height of the viewport */
}

.centered-image img {
    width: 500px; /* Explicitly smaller width */
    height: auto; /* Maintains the aspect ratio */
}


body {
    background-color: #add8e6; /* Light blue color */
}

.welcome-title {
    color: white; /* Sets the font color to white */
    font-family: 'Arial Black', Gadget, sans-serif; /* Sets the font family to a bold, easy-to-read font */
    font-size: 28px; /* Adjusts the font size */
    text-align: center; /* Centers the text */
    margin-top: 20px; /* Adds some space at the top */
}

.container-pink, .container-yellow, .container-green {
    display: flex;
    justify-content: center;
    align-items: center; /* This centers the contents vertically */
    text-align: center; /* This centers the text or inline contents horizontally */
    padding: 20px; /* Adds padding around the content */
    margin: 10px; /* Adds space between the containers */
}

.container-pink {
    background-color: #ffb6c1; /* Light pink */
}

.container-yellow {
    background-color: #ffffe0; /* Light yellow */
}

.container-green {
    background-color: #90ee90; /* Light green */
    display: block; /* Overrides display flex, reverting to block layout */
    text-align: left; /* Aligns text to the left */
    padding: 20px;
    margin: 10px;
}


/* Ensuring images and text within the containers are centered */
.container-pink .welcome-title, .container-yellow .centered-image, .container-green div {
    width: 100%; /* Take the full width of the container */
}

.centered-image img {
    display: block; /* Removes inline properties, enabling margin auto */
    margin: 0 auto; /* Horizontally centers the image */
}


